@model IEnumerable<VideoKlub.ViewModels.MovieDetailsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                    <th>Actor</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VideoKlub.ViewModels.MovieDetailsViewModel item in Model)
                {
                    <tr style="color: @item.MovieGenre.GenreColor">
                        <td>
                            @item.MovieMovie.MovieName
                        </td>
                        <td>
                            @item.MovieGenre.GenreName
                        </td>
                        <td>
                            @item.MovieActor.FirstName @item.MovieActor.LastName
                        </td>
                        <td>
                            @item.MovieDirector.FirstName @item.MovieDirector.LastName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<a asp-controller="home" asp-action="add" class="btn btn-primary">Add movie</a>

        <a asp-controller="movie" asp-action="movie" class="btn btn-primary">Movies options</a>*@
    </div>
</div>
